:root {
  --font-main: "Manrope", system-ui, -apple-system, sans-serif;

  --color-primary: #f54900;
  --color-primary-hover: #c43d03;

  --color-secondary: #364153;
  --color-secondary-hover: #27303d;

  --color-btn-outline-hover: #f0f1f3;

  --color-bg-secondary: #101828;

  --color-bg-1: #fffbf5;
  --color-bg-2: #f9fafb;
  --color-bg-3: #ffedd4;
  --color-bg-4: #111827;

  --color-white: #ffffff;
  --color-gray-700: #364153;
}
