---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import MainSection from "../components/MainSection.astro";
import ChooseSection from "../components/ChooseSection.astro";
import ServicesSection from "../components/ServicesSection.astro";
import ReviewsSection from "../components/ReviewsSection.astro";
---

<BaseLayout>
  <!-- <Header /> -->
  <main>
    <MainSection />
    <ChooseSection />
    <ServicesSection />
    <ReviewsSection />
  </main>
</BaseLayout>
