<section
  id="calculate"
  class="section calculate"
  aria-labelledby="calculate-title"
>
  <div class="container">
    <div class="calculate__container">
      <div class="calculate__top">
        <h2 id="calculate-title" class="calculate__title">
          Рассчитайте стоимость забора
        </h2>
        <p class="calculate__subtitle">
          Ответьте на 3 простых вопроса и получите точный расчет
        </p>
      </div>
      <div></div>
    </div>
  </div>
</section>

<style lang="scss">
  .calculate {
    background: var(--color-bg-1);

    &__container {
      text-align: center;
    }

    &__top {
      display: flex;
      flex-direction: column;
      row-gap: 18px;
    }

    &__subtitle {
      font-size: 22px;
      color: var(--color-secondary);
    }
  }
</style>
